.filters {
  $root: &;

  &__item {
    display: flex;
    padding: 1.2143em 1.0714em;
    font-size: 0.875em;
    text-decoration: none;
    color: $cFiltersFg;
    transition: background-color .15s ease-in-out 0s;

    &:hover {
      background-color: $cFiltersBgHover;
    }

    &:active, &--active, &--active:hover {
      background-color: $cFiltersBgActive;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 0.6429em;
    flex: 0 0 auto;
    font-size: 1.1429em;
    line-height: 1em;
  }

  &__name {
    display: inline-block;
    flex: 1 1 auto;
  }

  &__count {
    display: inline-block;
    flex: 0 0 auto;
    color: $cFiltersCountFg;
  }
}