*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button, input {
  outline: none;
}

@font-face {
  font-family: "ep-recruitment";
  src: url("../fonts/ep-recruitment.eot");
  src: url("../fonts/ep-recruitment.eot?#iefix") format("embedded-opentype"), url("../fonts/ep-recruitment.woff") format("woff"), url("../fonts/ep-recruitment.ttf") format("truetype"), url("../fonts/ep-recruitment.svg#ep-recruitment") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "ep-recruitment" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=epicon-]:before,
[class*=" epicon-"]:before {
  font-family: "ep-recruitment" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.epicon-closed-issue:before {
  content: "a";
}

.epicon-github:before {
  content: "b";
}

.epicon-open-issue:before {
  content: "c";
}

.epicon-star:before {
  content: "d";
}

.filters__item {
  display: flex;
  padding: 1.2143em 1.0714em;
  font-size: 0.875em;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.15s ease-in-out 0s;
}
.filters__item:hover {
  background-color: rgba(41, 42, 72, 0.4);
}
.filters__item:active, .filters__item--active, .filters__item--active:hover {
  background-color: #292a48;
}
.filters__icon {
  display: inline-block;
  margin-right: 0.6429em;
  flex: 0 0 auto;
  font-size: 1.1429em;
  line-height: 1em;
}
.filters__name {
  display: inline-block;
  flex: 1 1 auto;
}
.filters__count {
  display: inline-block;
  flex: 0 0 auto;
  color: #8a8995;
}

.labeled-list__label {
  margin: 0.6667em 0;
  font-size: 0.75em;
  font-weight: 400;
  color: #8a8995;
}
.labeled-list__item {
  display: flex;
  justify-content: space-between;
}
.labeled-list__link {
  display: inline-block;
  font-size: 0.9375em;
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #080606;
  text-decoration: none;
}
.labeled-list__icon-wrap {
  display: inline-block;
  flex: 0 0 auto;
  cursor: pointer;
}
.labeled-list__icon-control {
  display: none;
}
.labeled-list__icon {
  width: 1.0625em;
  height: 1em;
  overflow: visible;
  stroke: #e0e0e0;
  fill: transparent;
  transition: fill 0.15s ease-in-out 0s, stroke 0.15s ease-in-out 0s;
}
.labeled-list__icon-control:checked ~ .labeled-list__icon {
  fill: #000;
  stroke: #000;
}
.labeled-list__icon:not(:root) {
  overflow: visible;
}

.well {
  padding: 0.625em 0.6875em;
  margin: 0 0 0.3125em;
  border: 1px solid #e0e0e0;
  border-radius: 0.3125em;
  background-color: #fff;
}

.window {
  display: grid;
  grid-template-columns: 9.375em 1fr;
  grid-template-rows: 2.5em 1fr;
  width: 40.625em;
  height: 31.25em;
  overflow: hidden;
  border-radius: 0.625em;
  font-family: "roboto", sans-serif;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px 0;
  backdrop-filter: blur(5px);
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .window {
    margin: 50vh 0 0;
    transform: translateY(-50%);
  }
}
.window__controls {
  display: flex;
  padding: 0 0.9375em;
  grid-column: 1;
  grid-row: 1;
  background-color: #101022;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.625em 0 0 0;
}
.window__button {
  display: inline-block;
  width: 0.625em;
  height: 0.625em;
  padding: 0;
  margin: 0 0.625em 0 0;
  border: 0;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
}
.window__button--close {
  background-color: #ff594f;
}
.window__button--minimize {
  background-color: #ffbc1b;
}
.window__button--maximize {
  background-color: #00cd46;
}
.window__sidebar {
  grid-column: 1;
  grid-row: 2;
  background-color: #101022;
  background-color: rgba(16, 16, 34, 0.9);
  overflow: auto;
  border-radius: 0 0 0 0.625em;
}
.window__content {
  padding: 0 0.9375em;
  grid-column: 2;
  grid-row: 1/span 2;
  background-color: #f6f6f6;
  color: #080606;
  overflow: auto;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../img/background.jpg") no-repeat center/cover;
}

/*# sourceMappingURL=site.css.map */
